  @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
  body {
    /*font-family: "futura-pt";*/
    font-family: "rooney-web";
    /*font-family: "Sketchetik";*/
    color: #111;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
  }
  .text {
    width: 60%;
    max-width: 900px;
    margin: 3em auto; 
  }
  @media all and (min-width: 700px) and (orientation: landscape) {
    .text {
      width: 80%;
    }
    .two-column {
      -webkit-columns: 2 150px;
              columns: 2 150px;
      -webkit-column-gap: 40px;
              column-cap: 40px;
      -webkit-column-rule: 1px dotted #ccc;
              column-rule: 1px dotted #ccc;
      text-align: justify;
    }
  }
  h1 {
    font-size: 3em;
    font-weight: 700;
  }
  header h1 {
    font-size: 8em;
    font-size: 8vw;
    margin: 1em auto 0;
    color: #e2007f;
  }
  .text > article {
    text-align: justify;
    margin: 5em auto;
  }
  article h1,h2,h3,h4 {
    -webkit-column-span: all;
    column-span: all;
  }
  article h3 {
    font-weight: 500;
  }
  article p {
    margin-top: 0;
    font-size: 1.3em;
    line-height: 1.5;
  }
  article footer {
    margin-top: 1em;
    font-weight: 500;
  }
  article.dikt p, .two-column article {
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
  }
  img.hero {
    width: 100vw;
    height: auto;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
  p.caption {
    font-size: 2em !important;
    text-align: center !important;
  }
  q {
    margin-top: 5em;
    font-size: 2em;
    font-style: italic;
    quotes: "\201C" "\201D" "\2018" "\2019";
  }
  q:before {
    content: open-quote;
  }
  q:after {
    content: close-quote;
  }
  ::selection {
    background-color: #e2007f;
    color: #fff;
  }
  @media all and (max-width: 600px) {
    .text {
      width: 90%;
      -webkit-hyphens: auto;
         -moz-hyphens: auto;
              hyphens: auto;
    }
    article h1 {
      font-size: 2em;
    }
    q {
      font-size: 1.25em;
    }
    header h1 {
      font-size: 4em;
    }
    header h2 {
      font-size: 1em;
    }
  }

  a {
    color: #e2007f;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  a:visited {
    color: #e2007f;
  }
  a:hover {
    color: #00ffbb;
  }

  a::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 5px;
  }
  .colophon {
    margin-top: 5em;
    font-size: 1.2em;
  }
  em {
    font-style: italic;
    font-weight: 400;
  }
  b {
    font-weight: 500;
  }
  ul, ol {

  }
  li {
    text-align: left;
  }
